---
title: "bpmn-js: BPMN 2.0 rendering toolkit and web modeler"
layout: base.hbs
---


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">

    <p class="h1">
       bpmn-js
    </p>

    <p class="lead">BPMN 2.0 rendering toolkit and web modeler.</p>

    <div class="actions">
      <a href="http://demo.bpmn.io" target="_blank" class="btn btn-xlg btn-outline">Try Online</a>
      <a href="{{relative page.dest "dist/toolkit/bpmn-js/download"}}" class="btn btn-xlg btn-primary">Download</a>
    </div>

    <p class="bi-note">
      Currently {{ site.bpmnjs.version }}. <a href="https://github.com/bpmn-io/bpmn-js">View on GitHub</a>.
    </p>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>BPMN everywhere, for everyone</h2>
    <p class="lead">
      Create, embed and extend BPMN diagrams in your Browser.
      Use it standalone or integrate it into your application.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="{{assets}}/img/model.png" alt="Model BPMN 2.0 diagrams" class="img-responsive">
        <h3>Model</h3>
        <p>
          Easily create your own BPMN 2.0 diagrams using a <a href="http://demo.bpmn.io">web-based modeling component</a>.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/embed.png" alt="Embed BPMN 2.0 diagrams into the application" class="img-responsive">
        <h3>Embed and Annotate</h3>
        <p>
          Use the toolkit to embed BPMN 2.0 diagrams into your applications.
          <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/commenting">Enrich them</a> with the data that is important for you and your business.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/extend.png" alt="Extend the framework" class="img-responsive">
        <h3>Extend</h3>
        <p>Integrate an in-browser process engine, token simulation, <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/colors">styling</a> or <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/custom-modeling-rules">enhanced interactivity</a>. It is up to you because bpmn-js is an open toolkit.</p>
      </div>
    </div>

    <hr class="half-rule">
  </div>
</div>

<div class="bi-features">
  <div class="container">
    <h2>Add BPMN to your Application</h2>

    <p class="lead">
      Embed BPMN diagrams in your application with a few lines of code.
    </p>

    <pre style="text-align: left; margin: 20px auto; padding: 0 25px; background: #F8F8F8; max-width: 500px;">{{#code 'no-pre:html'}}
<script>
  var viewer = new BpmnJS({ container: 'body' });

  viewer.importXML(bpmnXML, function(err) {

    if (err) {
      console.log('error rendering', err);
    } else {
      console.log('we are good!');
    }
  });
</script>
{{/code}}</pre>

    <p class="lead">
      Use the <a href="https://github.com/bpmn-io/bpmn-js-seed">seed project</a> to get started in no time.
    </p>

    <p class="lead">
      Read our <a href="{{ relative page.dest "dist/toolkit/bpmn-js/walkthrough" }}">walkthrough</a> or check out some <a href="{{ relative page.dest "dist/toolkit/bpmn-js/examples" }}">examples</a> to learn more.
    </p>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    <h2>Make it yours</h2>

    <p class="lead">
      bpmn-js is built for extensibility. <a href="https://github.com/bpmn-io/bpmn-js-nyan">Customize</a> and <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/custom-elements">extend</a> the toolkit to suit your needs.
    </p>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    {{> about_teaser }}
  </div>
</div>


<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />