---
title: BPMN 2.0 rendering toolkit and web modeler
layout: base.hbs
---


<style>
.hiring-banner {
  padding: 10px 0;
  background: #52b415;
  text-align: center;
}

.hiring-banner p {
  color: #333;
  background: #fcfcfc;
  padding: 20px;
  margin: 0;
}

.hiring-banner a {
  font-weight: bold;
}
</style>

<!-- hiring banner -->

<div class="hiring-banner">
  <p>
    <a href="{{relative page.dest "dist/jobs"}}">Join our team</a> and help us building the next generation BPMN modeling tool.
  </p>
</div>


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">

    <img class="logo" src="{{ assets }}/img/logo.png" />

    <p class="lead">A BPMN 2.0 rendering toolkit and web modeler.</p>

    <p class="lead">Built with passion as part of <a href="http://camunda.org" target="_blank">camunda BPM</a>.</p>

    <div class="bi-action">
      <a href="http://demo.bpmn.io" target="_blank" class="btn btn-xlg btn-outline-inverse">Online Demo</a>
      <a href="{{relative page.dest "dist/getting-started"}}#download" class="btn btn-xlg btn-outline-inverse">Download</a>
    </div>

    <p class="bi-note">
      Currently {{ site.bpmnjs.version }}. <a href="https://github.com/bpmn-io/bpmn-js">View on GitHub</a>.
    </p>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>BPMN everywhere, for everyone</h2>
    <p class="lead">
      bpmn.io simplifies creating, embedding and extending BPMN diagrams.
      It runs in modern browsers.
      Use it standalone or integrate it into your applications.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="{{assets}}/img/model.png" alt="Model BPMN 2.0 diagrams" class="img-responsive">
        <h3>Model</h3>
        <p>
          Easily create your own BPMN 2.0 diagrams using a web-based modeling component.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/embed.png" alt="Embed BPMN 2.0 diagrams into the application" class="img-responsive">
        <h3>Embed and Annotate</h3>
        <p>
          Use the toolkit to embed BPMN 2.0 diagrams into your applications.
          Enrich them with the data that is important for you and your business.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/extend.png" alt="Extend the framework" class="img-responsive">
        <h3>Extend</h3>
        <p>Integrate an in-browser process engine, token simulation, styling or enhanced interactivity. It is up to you because bpmn.io is an open framework.</p>
      </div>
    </div>


    <hr class="half-rule">


    <p class="lead">
      bpmn.io is open source on <a href="https://github.com/bpmn-io">GitHub</a>.
    </p>

    <p class="lead">
      View some <a href="https://github.com/bpmn-io/bpmn-js-examples">examples</a> or checkout the
      <a href="https://github.com/bpmn-io/bpmn-js-seed">seed project</a>.
    </p>


    <hr class="half-rule">


    <p class="lead" id="newsletter">
      Keep informed by following us <a href="https://twitter.com/bpmn_io">@bpmn_io</a> or via our newsletter.
    </p>

    <div class="bi-register-newsletter">
      <form action=".">
        <div class="input-group">
          <input type="text" class="form-control" name="email" placeholder="Your email">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" data-loading-text="Sending...">Submit</button>
          </span>
        </div>
      </form>

      <p class="note">* You may unsubscribe from our newsletter any time.</p>
    </div>
  </div>
</div>

{{#script}}

<!--[if IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->

{{#if app.newsletter }}
<script>
  $(function() {

    var endpoint = '{{ app.newsletter }}';

    var subscribeElement = $('.bi-register-newsletter');
    var form = $('form', subscribeElement);

    var group = $('.input-group', form);
    var emailInput = $('input[name=email]', form);
    var button = $('button[type=submit]', form);

    var note = $('.note', subscribeElement);

    function showStatus(type, status, message) {
      if (!note.parent('.alert').length) {
        note.wrap('<div></div>');
      }

      note.parent().attr('class', 'alert alert-' + type);

      note
        .empty()
        .append($('<strong></strong>').text(status))
        .append($('<span></span>').text(' ' + message));
    }

    function showSuccess(headline, message) {
      showStatus('success', headline, message);
    }

    function showFailure(headline, message) {
      showStatus('danger', headline, message);
    }

    emailInput.on('focus', function() {
      group.removeClass('has-error');
    });

    var loading = false;

    form.on('submit', function(event) {

      event.preventDefault();

      if (loading) {
        return;
      }

      var email = emailInput.val();

      if (!email) {
        group.addClass('has-error');
        return;
      }

      loading = true;
      button.button('loading');

      $.post(endpoint, {
        email: email
      }).done(function(data) {

        if (data.success) {
          showSuccess('Done!', 'You subscribed to our newsletter and will receive the latest updates via email.');
        } else {
          showFailure('That did not work!', data.message);
        }
      }).fail(function() {
          showFailure('Sorry for that!', 'We cannot subscribe you to the newsletter at the moment. Please try again later.');
      }).always(function() {
        form.hide();
        button.button('reset');
        loading = false;
      });
    });
  });
</script>
{{/if}}

{{/script}}