---
layout: base.hbs
component: index
---


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">
    <!--<h1>bpmn.io</h1>-->

    <img class="logo" src="{{ assets }}/img/logo.png" />

    <p class="lead">An open foundation to communicate your processes with BPMN 2.0</p>
    
    <p class="lead">Built with passion. Part of <a href="http://camunda.org" target="_blank">camunda BPM</a>.</p>


    <div class="bi-register-news">
      <form action=".">
        <div class="input-group input-group-xlg">
          <input type="text" class="form-control" name="email" placeholder="Your email">
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="submit" data-loading-text="Sending...">Submit</button>
          </span>
        </div>
      </form>

      <p class="note">Keep informed about bpmn.io. You may unsubscribe from this newsletter any time.</p>
    </div>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>BPMN everywhere, for everyone</h2>
    <p class="lead">
      bpmn.io makes it simple to create and embed BPMN diagrams.
      
      Whether you want to model processes or integrate process diagrams into your application, bpmn.io offers the tool for you.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="{{assets}}/img/model.png" alt="Model BPMN 2.0 diagrams" class="img-responsive">
        <h3>Model</h3>
        <p>
          Easily create your own BPMN 2.0 diagrams using a web-based modeling component.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/embed.png" alt="Embed BPMN 2.0 diagrams into the application" class="img-responsive">
        <h3>Embed and Annotate</h3>
        <p>
          Use the toolkit to embed BPMN 2.0 diagrams into your applications.
          Enrich them with the data that is important for you and your business.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/extend.png" alt="Extend the framework" class="img-responsive">
        <h3>Extend</h3>
        <p>Integrate an in-browser process engine, token simulation, styling or enhanced interactivity. It is up to you because bpmn.io is an open framework.</p>
      </div>
    </div>

    <hr class="half-rule">

    <p class="lead">
      bpmn.io will be open source on <a href="https://github.com/bpmn-io">GitHub</a>.
    </p>

    <p class="lead">
      Demos and examples coming soon.
    </p>

    {{!--
    <hr class="half-rule">

    <p class="lead">
      bpmn.io will be open source on <a href="https://github.com/bpmn-io">GitHub</a>, soon.
    </p>
    <hr class="half-rule">
    <a class="bi-camundabpm-link" href="http://camunda.org">
      <img src="{{assets}}/img/camunda-logo-small.png" />
    </a>
    --}}
  </div>
</div>

{{#script}}
<!--[if IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->

{{#if app.newsletter }}
<script>
  $(function() {

    var endpoint = '{{ app.newsletter }}';

    var subscribeElement = $('.bi-register-news');
    var form = $('form', subscribeElement);

    var group = $('.input-group', form);
    var emailInput = $('input[name=email]', form);
    var button = $('button[type=submit]', form);

    var note = $('.note', subscribeElement);

    emailInput.on('focus', function() {
      group.removeClass('has-error');
    });

    var loading = false;

    form.on('submit', function(event) {

      event.preventDefault();

      if (loading) {
        return;
      }

      var email = emailInput.val();

      if (!email) {
        group.addClass('has-error');
        return;
      }

      loading = true;
      button.button('loading');

      $.post(endpoint, {
        email: email
      }).done(function() {
        note.wrap('<div class="alert alert-success"></div>')
            .html('<strong>Done!</strong> You subscribed to our newsletter and will receive the latest updates via email.');
      }).fail(function() {
        note.wrap('<div class="alert alert-danger"></div>')
            .html('<strong>Oooops!</strong> We could not subscribe you to the newsletter right now. Please try again later.');
      }).always(function() {
        form.hide();
        button.button('reset');
        loading = false;
      });
    });
  });
</script>
{{/if}}

{{/script}}