---
title: Blog
description: 'News from the bpmn.io project'
---

<div class="row">

  <div class="col-md-9">

    {{#compose src='*/*.md' cwd='src/blog' sortBy="published" sortOrder="desc"}}

    <div class="bi-blogpost">

      <h1><a href="posts/{{ @slug }}.html">{{ @title }}</a></h1>

      <p class="meta">
        Published by {{ author @author }} on {{ moment @published format="dddd, DD MMMM YYYY" }}.
      </p>

      {{#if @releases }}
        <p class="releases">
          {{#each @releases }}
            {{ releaseBadge this }}
          {{/each}}
        </p>
      {{/if}}

      <div class="content">
        {{#exerpt @slug}}
          {{{@content}}}
        {{/exerpt}}
      </div>
    </div>

    <hr class="half-rule">

    {{/compose}}
  </div>
</div>