---
component: footer
---

<footer class="bi-footer" role="contentinfo">
  <div class="container">

    <ul class="footer-links muted">
      <li><a href="{{relative page.dest "dist/blog"}}">Blog</a></li>
      <li>·</li>
      <li><a href="https://forum.bpmn.io">Forum</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/about"}}">About</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/roadmap"}}">Roadmap</a></li>
      <li>·</li>
      <li><a href="http://demo.bpmn.io">Online Demo</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/desktop"}}">Desktop App</a></li>
      <li>·</li>
      <li><a href="https://github.com/bpmn-io">GitHub</a></li>
      <li>·</li>
      <li><a href="https://twitter.com/bpmn_io">Twitter</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/imprint.html"}}">Imprint</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/privacy.html"}}">Privacy Policy</a></li>
    </ul>

    <p>
      <a href="http://bpmn.io">bpmn.io</a> is a part of <a href="http://camunda.org">camunda BPM</a> and brought to you by <a href="http://camunda.com">camunda</a> and <a href="http://tech.zalando.com/">Zalando</a>.
    </p>
  </div>
</footer>
