---
component: footer
---

<footer class="bi-footer" role="contentinfo">
  <div class="container">

    <ul class="footer-links muted">
      <li><a href="{{relative page.dest "dist/blog"}}">Blog</a></li>
      <li>·</li>
      <li><a href="https://forum.bpmn.io">Forum</a></li>
      <li>·</li>
      <li><a href="https://github.com/bpmn-io">GitHub</a></li>
      <li>·</li>
      <li><a href="https://twitter.com/bpmn_io">Twitter</a></li>
    </ul>

    <ul class="footer-links muted">
      <li><a href="{{relative page.dest "dist/about"}}">About</a></li>
      <li>·</li>
      <li><a href="https://camunda.com/career/">Work with us</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/roadmap"}}">Roadmap</a></li>
      <li>·</li>
      <li><a href="http://demo.bpmn.io">Online Demo</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/modeler"}}">Camunda Modeler</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/imprint.html"}}">Imprint</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/privacy.html"}}">Privacy Policy</a></li>
    </ul>

    <p style="margin-top: 30px;">
      <a href="https://bpmn.io">bpmn.io</a> is built by <a href="https://camunda.com">Camunda</a> and contributors.
    </p>
  </div>
</footer>
