---
component: navbar
---

<!-- Navbar component
================================================== -->

<header class="navbar navbar-default navbar-static-top bi-navbar" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bi-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{relative page.dest "dist/."}}" class="navbar-brand" aria-label="Go to bpmn.io">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 21"><path fill="currentColor" d="M49.3 0c-2.3 0-3.6 1.4-3.6 3.8v7.7c0 2.4 1.3 3.7 3.6 3.7s3.6-1.3 3.6-3.7V3.8c0-2.4-1.3-3.8-3.6-3.8zM0 0v15h3.7c2.4 0 3.6-1.2 3.6-3.5v-1.2c0-1.6-.5-2.8-1.7-3.3C6.6 6.5 7 5.5 7 4v-.6C7 1.2 6 0 3.6 0zm8.7 0v15h2.4V9.5h1.1c2.4 0 3.5-1.3 3.5-3.8v-2c0-2.3-1.1-3.6-3.4-3.6zM17 0v15H19V4.5L20.8 15H23l1.6-10.8V15H27V0h-3.3L22 10.6 20.2 0zm11.7 0v15h2.1V4.2l3 11H36V0H34V9l-2.5-9zm13.2 0v15h2.4V0zm7.5 2.1c.7 0 1.2.4 1.2 1.5v8c0 1-.5 1.5-1.2 1.5-.8 0-1.3-.4-1.3-1.5v-8c0-1 .5-1.5 1.3-1.5zm-47 0h1.2c.9 0 1.2.5 1.2 1.6v.8c0 1.2-.5 1.6-1.4 1.6h-1zm8.8 0h1.1c.8 0 1.2.4 1.2 1.5v2.2c0 1.1-.4 1.4-1.2 1.4h-1zM2.3 8.4h1.1c1 0 1.5.4 1.5 1.8v1.3c0 1.1-.4 1.5-1.2 1.5H2.3zm35.5 4.5V15H40v-2.3zM0 17V21h52.9v-4z"/></svg>
      </a>
    </div>
    <nav class="collapse navbar-collapse bi-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav bi-navbar-collapse navbar-right">
        <li class="dropdown {{ isActive "bpmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/bpmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             bpmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/download"}}">Download</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/examples"}}">Examples</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/walkthrough"}}">Walkthrough</a></li>
          </ul>
        </li>

        <li class="dropdown {{ isActive "dmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/dmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             dmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/dmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/dmn-js/download"}}">Download</a></li>
          </ul>
        </li>

        <li class="dropdown {{ isActive "cmmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/cmmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             cmmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/cmmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/cmmn-js/download"}}">Download</a></li>
          </ul>
        </li>

        <li class="{{ isActive "blog" page }}">
          <a href="{{relative page.dest "dist/blog/"}}">Blog</a>
        </li>
        <li>
          <a href="https://forum.bpmn.io" target="_blank" rel="noopener">Forum</a>
        </li>
        <li>
          <a href="https://github.com/bpmn-io" target="_blank" rel="noopener">GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
