---
component: navbar
---

<!-- Navbar component
================================================== -->

<header class="navbar navbar-default navbar-static-top bi-navbar" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bi-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{relative page.dest "dist/."}}" class="navbar-brand" aria-label="Go to bpmn.io">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 23"><path fill="currentColor" d="M7.75 3.8v.58c0 1.7-.52 2.78-1.67 3.32C7.46 8.24 8 9.5 8 11.24v1.34c0 2.54-1.35 3.9-3.93 3.9H0V0h3.91c2.68 0 3.84 1.25 3.84 3.8zM2.59 2.35V6.7H3.6c.97 0 1.56-.42 1.56-1.74v-.92c0-1.18-.4-1.7-1.32-1.7zm0 6.7v5.07h1.48c.87 0 1.34-.4 1.34-1.63v-1.43c0-1.53-.5-2-1.67-2H2.6zm14.65-4.98v2.14c0 2.64-1.27 4.08-3.87 4.08h-1.22v6.2H9.56V0h3.82c2.59 0 3.86 1.44 3.86 4.07zm-5.09-1.71v5.57h1.22c.83 0 1.28-.37 1.28-1.55V3.91c0-1.18-.45-1.56-1.28-1.56h-1.22zm11.89 9.34L25.81 0h3.6v16.48h-2.44V4.66l-1.8 11.82h-2.45L20.8 4.83v11.65h-2.26V0h3.6zm9.56-7.15v11.93h-2.33V0h3.25l2.66 9.87V0h2.31v16.48h-2.66zm10.25 9.44v2.5h-2.5v-2.5zM50 4.16C50 1.52 51.38.02 53.93.02c2.54 0 3.93 1.5 3.93 4.14v8.37c0 2.64-1.4 4.14-3.93 4.14-2.55 0-3.93-1.5-3.93-4.14zm2.58 8.53c0 1.18.52 1.63 1.35 1.63.82 0 1.34-.45 1.34-1.63V4c0-1.17-.52-1.62-1.34-1.62-.83 0-1.35.45-1.35 1.62zM0 18.7h57.86V23H0zM45.73 0h2.6v2.58h-2.6zm2.59 16.48V4.16h-2.59v12.32z"/></svg>
      </a>
    </div>
    <nav class="collapse navbar-collapse bi-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav bi-navbar-collapse navbar-left">
        <li class="dropdown {{ isActive "bpmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/bpmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             bpmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/download"}}">Download</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/examples"}}">Examples</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/bpmn-js/walkthrough"}}">Walkthrough</a></li>
          </ul>
        </li>

        <li class="dropdown {{ isActive "dmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/dmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             dmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/dmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/dmn-js/download"}}">Download</a></li>
          </ul>
        </li>

        <li class="dropdown {{ isActive "form-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/form-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             form-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/form-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/form-js/download"}}">Download</a></li>
          </ul>
        </li>

        <li class="dropdown {{ isActive "cmmn-js" page }}">
          <a href="{{relative page.dest "dist/toolkit/cmmn-js"}}"
             class="dropdown-toggle" data-toggle="dropdown" role="button">
             cmmn-js <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{relative page.dest "dist/toolkit/cmmn-js"}}">Toolkit</a></li>
            <li><a href="{{relative page.dest "dist/toolkit/cmmn-js/download"}}">Download</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav bi-navbar-collapse navbar-right">
        <li class="{{ isActive "blog" page }}">
          <a href="{{relative page.dest "dist/blog/"}}">Blog</a>
        </li>
        <li>
          <a href="https://forum.bpmn.io" target="_blank" rel="noopener">Forum</a>
        </li>
        <li>
          <a href="https://github.com/bpmn-io" target="_blank" rel="noopener">GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
