---
title: Examples
description: 'Example usages of bpmn-js'
layout: bpmnjs.hbs
---

<div class="row">
  <div class="col-md-12">

    <p class="lead">
      Explore examples that use, modify and extend bpmn-js.
    </p>
        
    <div class="row">
      <div class="col-md-4">
      
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/url-viewer" class="bi-example">
          <h2>URL viewer</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/url-viewer.png">
          
          <p class="caption">
            Load and display BPMN diagrams from an URL.
          </p>
        </a>
        
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/commenting" class="bi-example">
          <h2>Commenting</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/commenting.png">
          
          <p class="caption">
            Leave comments on BPMN diagrams.
          </p>
        </a>
        
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/colors" class="bi-example">
          <h2>Colors</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/colors.png">
          
          <p class="caption">
            Add colors to your BPMN diagrams.
          </p>
        </a>
      </div>
      
      <div class="col-md-4">
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/overlays" class="bi-example">
          <h2>Overlays</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/overlays.png">
          
          <p class="caption">
            Add custom overlays to your BPMN diagrams.
          </p>
        </a>
        
        <a href="http://demo.bpmn.io/diff" class="bi-example">
          <h2>Diagram Diffing</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/diff.png">
          
          <p class="caption">
            Compare two BPMN diagrams and visualize the differences.
          </p>
        </a>
        
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/properties-panel" class="bi-example">
          <h2>Properties Panel</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/properties-panel.png">
          
          <p class="caption">
            A bpmn-js + properties panel example.
          </p>
        </a>
      </div>
      
      <div class="col-md-4">
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/modeler" class="bi-example">
          <h2>Modeler</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/modeler.png">
          
          <p class="caption">
            Your next BPMN 2.0 modeler.
          </p>
        </a>
        
        <a href="https://github.com/bpmn-io/bpmn-js-nyan" class="bi-example">
          <h2>Nyan Cats</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/nyan-cats.png">
          
          <p class="caption">
            A custom BPMN modeler with nyan cats, custom modeling rules and more.
          </p>
        </a>
        
        <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/custom-elements" class="bi-example">
          <h2>Custom Elements</h2>
          
          <img src="{{ assets }}/img/toolkit/bpmn-js/examples/custom-elements.png">
          
          <p class="caption">
            BPMN not enough? Add custom elements to your diagrams.
          </p>
        </a>
      </div>
      
    </div>
    
  </div>
  
</div>
