---
title: "dmn-js: DMN 1.1 table viewer and editor"
layout: base.hbs
---


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">

    <p class="h1">
       dmn-js
    </p>

    <p class="lead">DMN 1.1 table viewer and editor.</p>

    <div class="actions">
      <a href="http://demo.bpmn.io/dmn" target="_blank" class="btn btn-xlg btn-outline">Try Online</a>
      <a href="{{relative page.dest "dist/toolkit/dmn-js/download"}}" class="btn btn-xlg btn-primary">Download</a>
    </div>

    <p class="bi-note">
      Currently {{ site.dmnjs.version }}. <a href="https://github.com/bpmn-io/dmn-js">View on GitHub</a>.
    </p>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>Business Rules at your Fingertips</h2>
    <p class="lead">
      bpmn-js simplifies creating, embedding and extending BPMN diagrams.
      It runs in modern browsers.
      Use it standalone or integrate it into your applications.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="{{assets}}/img/model.png" alt="Model BPMN 2.0 diagrams" class="img-responsive">
        <h3>Model</h3>
        <p>
          Easily create your own BPMN 2.0 diagrams using a <a href="http://demo.bpmn.io">web-based modeling component</a>.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/embed.png" alt="Embed BPMN 2.0 diagrams into the application" class="img-responsive">
        <h3>Embed and Annotate</h3>
        <p>
          Use the toolkit to embed BPMN 2.0 diagrams into your applications.
          <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/commenting">Enrich them</a> with the data that is important for you and your business.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{{assets}}/img/extend.png" alt="Extend the framework" class="img-responsive">
        <h3>Extend</h3>
        <p>Integrate an in-browser process engine, token simulation, <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/colors">styling</a> or <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/custom-modeling-rules">enhanced interactivity</a>. It is up to you because bpmn-js is an open toolkit.</p>
      </div>
    </div>

    <hr class="half-rule">
  </div>
</div>

<div class="bi-features">
  <div class="container">
    <h2>Add BPMN to your Application</h2>

    <p class="lead">
      Embed BPMN diagrams in your application with a few lines of code.
    </p>

    <pre style="text-align: left; margin: auto; padding: 0 25px; background: #F8F8F8; max-width: 500px;">{{#code 'no-pre:html'}}
<script>
  var viewer = new BpmnJS({ container: 'body' });

  viewer.importXML(bpmnXML, function(err) {

    if (err) {
      console.log('error rendering', err);
    } else {
      console.log('we are good!');
    }
  });
</script>
{{/code}}</pre>

    <p class="lead">
      Use the <a href="https://github.com/bpmn-io/bpmn-js-seed">seed project</a> to get started in no time.

      Check out some <a href="{{ relative page.dest "dist/toolkit/bpmn-js/examples" }}">examples</a> to learn more.
    </p>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    <h2>Make it yours</h2>

    <p class="lead">
      bpmn-js is built for extensibility. <a href="https://github.com/bpmn-io/bpmn-js-nyan">Customize</a> and <a href="https://github.com/bpmn-io/bpmn-js-examples/tree/master/custom-elements">extend</a> the toolkit to suite your needs.
    </p>

    <hr class="half-rule">

  </div>
</div>

<div class="bi-features">
  <div class="container">

    <h2>About bpmn.io</h2>

    <p class="lead">
      <a href="{{ relative page.dest "dist/about" }}">We</a> provide tooling for viewing and editing <a href="{{ relative page.dest "dist/toolkit/bpmn-js" }}">BPMN</a>, <a href="{{ relative page.dest "dist/toolkit/dmn-js" }}">DMN</a> and <a href="{{ relative page.dest "dist/toolkit/cmmn-js" }}">CMMN</a> diagrams in your browser.
    </p>

    <p class="lead">
      Our libraries are extensible, embeddable and open source on <a href="https://github.com/bpmn-io">GitHub</a>.
    </p>

    <hr class="half-rule">

  </div>
</div>

<div class="bi-features">
  <div class="container">

    <p class="lead" id="newsletter">
      Keep informed by following us <a href="https://twitter.com/bpmn_io">@bpmn_io</a> or via our newsletter.
    </p>

    <div class="bi-register-newsletter">
      <form action=".">
        <div class="input-group">
          <input type="text" class="form-control" name="email" placeholder="Your email">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" data-loading-text="Sending...">Submit</button>
          </span>
        </div>
      </form>

      <p class="note">* You may unsubscribe from our newsletter any time.</p>
    </div>
  </div>
</div>

{{#script}}

<!--[if IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->

{{#if app.newsletter }}
<script>
  $(function() {

    var endpoint = '{{ app.newsletter }}';

    var subscribeElement = $('.bi-register-newsletter');
    var form = $('form', subscribeElement);

    var group = $('.input-group', form);
    var emailInput = $('input[name=email]', form);
    var button = $('button[type=submit]', form);

    var note = $('.note', subscribeElement);

    function showStatus(type, status, message) {
      if (!note.parent('.alert').length) {
        note.wrap('<div></div>');
      }

      note.parent().attr('class', 'alert alert-' + type);

      note
        .empty()
        .append($('<strong></strong>').text(status))
        .append($('<span></span>').text(' ' + message));
    }

    function showSuccess(headline, message) {
      showStatus('success', headline, message);
    }

    function showFailure(headline, message) {
      showStatus('danger', headline, message);
    }

    emailInput.on('focus', function() {
      group.removeClass('has-error');
    });

    var loading = false;

    form.on('submit', function(event) {

      event.preventDefault();

      if (loading) {
        return;
      }

      var email = emailInput.val();

      if (!email) {
        group.addClass('has-error');
        return;
      }

      loading = true;
      button.button('loading');

      $.post(endpoint, {
        email: email
      }).done(function(data) {

        if (data.success) {
          showSuccess('Done!', 'You subscribed to our newsletter and will receive the latest updates via email.');
        } else {
          showFailure('That did not work!', data.message);
        }
      }).fail(function() {
          showFailure('Sorry for that!', 'We cannot subscribe you to the newsletter at the moment. Please try again later.');
      }).always(function() {
        form.hide();
        button.button('reset');
        loading = false;
      });
    });
  });
</script>
{{/if}}

{{/script}}

<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />