<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Simple web-based tooling for BPMN, DMN and CMMN.">
    <meta name="keywords" content="BPMN, CMMN, DMN, bpmn.io, open source, toolkit, DMN, BPMN 2.0, business process, embed, model, integrate, extend, Camunda">
    <meta name="author" content="bpmn.io">

    <title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <link rel="icon" type="image/svg+xml" href="{{assets}}/img/logo.svg">
    <link rel="icon" type="image/png" href="{{assets}}/img/favicon.png">
  </head>
  <body>

    {{> body }}

    <!-- scripts -->
    <script src="{{assets}}/js/jquery.min.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>

    {{ scripts }}

    {{#if app.ga}}
      {{> ga }}
    {{/if}}
  </body>
</html>
