<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {{#if description}}
      <meta name="description" content="{{ description }}">
    {{/if}}

    <meta name="keywords" content="BPMN, CMMN, DMN, bpmn.io, open source, toolkit, DMN, BPMN 2.0, business process, embed, model, integrate, extend, Camunda">
    <meta name="author" content="bpmn.io">

    {{#if app.gtm}}
      {{> gtm_header }}
    {{/if}}

    <title>{{#if title}}{{title}} | {{/if}}{{#if section}}{{section}} | {{/if}}{{site.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,700,700i%7CIBM+Plex+Mono:400,400i,700,700i" rel='stylesheet' type='text/css'>
    {{#if canonical}}
    <link rel="canonical" href="{{ canonical }}" />
    {{/if}}
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <link rel="icon" type="image/png" href="{{assets}}/img/favicon.png">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{{#if slug}}article{{else}}website{{/if}}" />
    <meta property="og:site_name" content="bpmn.io" />
    <meta property="og:title" content="{{#if title}}{{title}} | {{/if}}{{#if section}}{{section}} | {{/if}}{{site.title}}" />

    {{#if url}}
      <meta property="og:url" content="{{ url }}" />
    {{/if}}

    {{#if description}}
      <meta property="og:description" content="{{ description }}" />
    {{/if}}

    {{#if slug}}
      {{#if section}}
        <meta property="article:section" content="{{ section }}" />
      {{/if}}
      <meta property="article:publisher" content="https://bpmn.io" />
      {{#if published_time}}
        <meta property="article:published_time" content="{{ published_time }}" />
      {{/if}}
      {{#if modified_time}}
        <meta property="article:modified_time" content="{{ modified_time }}" />
        <meta property="og:updated_time" content="{{ modified_time }}" />
      {{/if}}
    {{/if}}

    {{#if preview_image}}
      <meta property="og:image" content="{{ preview_image }}" />
    {{else}}
      <meta property="og:image" content="https://bpmn.io/assets/img/preview.png" />
    {{/if}}
  </head>
  <body>

    {{#if app.gtm}}
      {{> gtm_body }}
    {{/if}}

    {{> body }}

    <!-- scripts -->
    <script src="{{assets}}/js/jquery.min.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>

    {{ scripts }}
  </body>
</html>
