<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <link rel="icon" href="{{assets}}/favicon.ico">
  </head>
  <body>

    <!-- navbar -->

    {{> navbar }}

    <!-- page content -->
    {{> body }}

    <!-- footer -->

    {{> footer }}

    <!-- scripts -->
    <script src="{{assets}}/js/jquery.js"></script>
    <script src="{{assets}}/js/bootstrap.js"></script>

    {{ scripts }}

    {{#if app.uservoice}}
      {{> uservoice }}
    {{/if}}

    {{#if app.ga}}
      {{> ga }}
    {{/if}}
  </body>
</html>
