---
layout: blog.hbs
---

<div class="bi-blogpost single">

  <h1><a href="./{{slug}}.html">{{ title }}</a></h1>

  <p class="meta">
    Published by {{ author author }} on {{ moment published format="dddd, DD MMMM YYYY" }}.
  </p>

  {{#if releases }}
    <p class="releases">
      {{#each releases }}
        {{ releaseBadge this }}
      {{/each}}
    </p>
  {{/if}}

  <div class="content">
    {{#markdown}}
      {{> body}}
    {{/markdown}}

    {{> hiring_footer }}
  </div>

  <div class="share">
    Share via <div class="shariff" data-lang="en" data-button-style="icon" data-theme="white" data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;linkedin&quot;,&quot;reddit&quot;]"></div>
  </div>
</div>

{{#script}}
  <link rel="stylesheet" href="{{ assets }}/js/shariff/shariff.complete.css">
  <script src="{{ assets }}/js/shariff/shariff.min.js"></script>
{{/script}}