---
layout: blog.hbs
---

<div class="bi-blogpost single">

  <h1><a href="./{{slug}}.html">{{ title }}</a></h1>

  <div class="meta">
    Written by {{ author author }} on {{ moment published format="dddd, DD MMMM YYYY" }}.
  </div>

  <div class="content">

    {{> fooled_notice }}

    {{#markdown }}
      {{> body}}
    {{/markdown}}
  </div>

  <div class="share">
    Share via <div class="shariff" data-lang="en" data-theme="white" data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;googleplus&quot;]"></div>
  </div>
</div>

{{#script}}
  <link rel="stylesheet" href="{{ assets }}/js/shariff/shariff.min.css">
  <script src="{{ assets }}/js/shariff/shariff.min.js"></script>
{{/script}}



